<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo Tutor" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton pRipple label="Atualizar" icon="pi pi-refresh" class="p-button-help" (click)="loadTutors()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="tutors" [columns]="cols" responsiveLayout="scroll" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} tutores" [(selection)]="selectedTutors" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gerenciar Tutores</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="contact">Contato <p-sortIcon field="contact"></p-sortIcon></th>
                        <th pSortableColumn="address">Endereço <p-sortIcon field="address"></p-sortIcon></th>
                        <th pSortableColumn="pets_names">Pets Associados <p-sortIcon field="pets_names"></p-sortIcon></th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tutor>
                    <tr>
                        <td><span class="p-column-title">ID</span>{{tutor.id}}</td>
                        <td><span class="p-column-title">Nome</span>{{tutor.name}}</td>
                        <td><span class="p-column-title">Contato</span>{{tutor.contact}}</td>
                        <td><span class="p-column-title">Endereço</span>{{tutor.address}}</td>
                        <td><span class="p-column-title">Pets</span>
                            <span *ngIf="tutor.pets_names" class="font-bold text-primary">{{tutor.pets_names}}</span>
                            <span *ngIf="!tutor.pets_names" class="text-500 font-italic">Sem pets</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editTutor(tutor)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTutor(tutor)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="tutorDialog" [style]="{width: '450px'}" header="Detalhes do Tutor" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Nome</label>
                    <input type="text" pInputText id="name" [(ngModel)]="tutor.name" required autofocus />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !tutor.name">Nome é obrigatório</small>
                </div>
                <div class="field">
                    <label for="contact">Contato</label>
                    <!-- <input type="text" pInputText id="contact" [(ngModel)]="tutor.contact" /> -->
                    <p-inputMask id="contact" [(ngModel)]="tutor.contact" mask="(99) 99999-9999" placeholder="(00) 00000-0000" required autofocus></p-inputMask>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !tutor.contact">Numero é obrigatório</small>
                </div>
                <div class="field">
                    <label for="address">Endereço</label>
                    <textarea id="address" pInputTextarea [(ngModel)]="tutor.address" rows="3" cols="20"></textarea>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveTutor()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTutorDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="tutor">Tem certeza que deseja deletar <b>{{tutor.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deleteTutorDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>