<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo Pet" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton pRipple label="Atualizar" icon="pi pi-refresh" class="p-button-help" (click)="loadPets()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="pets" [columns]="cols" responsiveLayout="scroll" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} pets" [(selection)]="selectedPets" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gerenciar Pets</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="species">Espécie <p-sortIcon field="species"></p-sortIcon></th>
                        <th pSortableColumn="breed">Raça <p-sortIcon field="breed"></p-sortIcon></th>
                        <th pSortableColumn="age">Idade <p-sortIcon field="age"></p-sortIcon></th>
                        <th pSortableColumn="tutor_id">Tutor <p-sortIcon field="tutor_id"></p-sortIcon></th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pet>
                    <tr>
                        <td><span class="p-column-title">ID</span>{{pet.id}}</td>
                        <td><span class="p-column-title">Nome</span>{{pet.name}}</td>
                        <td><span class="p-column-title">Espécie</span>{{pet.species}}</td>
                        <td><span class="p-column-title">Raça</span>{{pet.breed}}</td>
                        <td><span class="p-column-title">Idade</span>{{pet.age}}</td>
                        
                        <td><span class="p-column-title">Tutor</span>{{ getTutorName(pet.tutor_id) }}</td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editPet(pet)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePet(pet)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="petDialog" [style]="{width: '450px'}" header="Detalhes do Pet" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Nome</label>
                    <input type="text" pInputText id="name" [(ngModel)]="pet.name" required autofocus />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !pet.name">Nome é obrigatório</small>
                </div>
                <div class="field">
                    <label for="species">Espécie</label>
                    <input type="text" pInputText id="species" [(ngModel)]="pet.species" placeholder="Ex: Cachorro, Gato" />
                </div>
                <div class="field">
                    <label for="breed">Raça</label>
                    <input type="text" pInputText id="breed" [(ngModel)]="pet.breed" />
                </div>
                <div class="field">
                    <label for="age">Idade</label>
                    <input type="number" pInputText id="age" [(ngModel)]="pet.age" />
                </div>
                <div class="field">
                    <label for="tutor">Tutor</label>
                    <p-dropdown 
                        [options]="tutors" 
                        [(ngModel)]="pet.tutor_id" 
                        optionLabel="name" 
                        optionValue="id" 
                        placeholder="Selecione um Tutor"
                        [filter]="true"
                        filterBy="name"
                        [showClear]="true"
                        appendTo="body" 
                        [style]="{'width':'100%'}">
                    </p-dropdown>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="savePet()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePetDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="pet">Deseja realmente excluir <b>{{pet.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deletePetDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>